@font-face {
    font-family: "Lato";
    src: url("../fonts/Orbitron-Regular.ttf");
}
body {
    background-image: url(../img/girl.jpg);
    background-size: cover;
    background-position: top center;
    background-color: #fff;
    overflow: hidden;
}

.content {
    display: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: table;
    vertical-align: middle;
    height: 100vh;
}

.content .inner {
    display: table-cell;
    vertical-align: middle;
    font-family: "Lato", sans-serif;
}
.date {
    letter-spacing: 6px;
    font-size: 40px;
    font-weight: 85;
    font-family: "Lato";
    color: #fff;
}
.seconds {
    letter-spacing: 3px;
    font-size: 36px;
    font-family: "Lato";
    color: #fff;
}

.time {
    opacity: 0.9;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 84px;
    font-family: "Lato";
    color: #fff;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

#drag {
    width: 430px;
    height: 170px;

    z-index: 9;

    position: absolute;

    text-align: center;
    border-radius: 5px;

    text-align: center;
    cursor: move;
}

.Butt {
    float: right;
    margin-right: 15px;
    z-index: 10;
}

button {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 10px auto;
    border: solid 2px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
    border-radius: 50px;
    font: normal 12px;
    font-family: "Digital-7";
    color: #fff;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

button:hover {
    width: 65px;
    height: 65px;

    color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 6px 2px rgba(244, 0, 106, 0.88) inset;
    box-shadow: 0 0 6px 2px rgba(244, 0, 106, 0.88) inset;
}